/* defaults */
body {background-color:#E8E6CF; background-image:url("../images/background.gif"); font-family:Verdana; color:#000000; font-size:11px;}
td {font-family:Verdana; color:#000000; font-size:11px;}

a:link {color:#000000; font-size:11px;}
a:visited {color:#000000; font-size:11px;}
a:active {color:#000000; font-size:11px;}
a:hover {color:#000000; font-size:11px;}

/*a:link {color:#003399; font-size:12px; text-decoration: none;}
a:visited {color:#003399; font-size:12px;}
a:active {color:#003399; font-size:12px;}
a:hover {color:#000099; background-color: #CCCCCC; font-size:12px;}*/

form {margin:0px;}
input {background-color:#FFFFFF; font-family:Verdana; color:#000000; font-size:11px; border-style:solid; border-color:#000000; border-width:1px;}
input.radio {border:none;}
input.focus {
	background-color: #FFFF99;
}
select {background-color:#FFFFFF; font-family:Verdana; color:#000000; font-size:11px; border-style:solid; border-color:#000000; border-width:1px;}
tr.required td.lbl {background: FFCC;}
/* defaults */

/* all pages */
.hlttext {font-weight:bold;}
.outtext {font-style:italic;}

a.hltlink:link {color:#706D3F;}
a.hltlink:visited {color:#706D3F;}
a.hltlink:active {color:#706D3F;}
a.hltlink:hover {color:#706D3F;}

td.matte {background-color:#CCCC99;}
td.header {background-color:#920D0D;}
td.content {background-color:#E8E6CF;}
td.footer {background-color:#B3AF89;}
td.botbar {background-color:#CBC7A2;}
td.dotsrule {background-image:url("../images/rule_dots.gif");}

.topnav {color:#B91111; font-size:10px;}
a.tnavoff:link {color:#FFFFFF; font-size:10px; text-decoration:none;}
a.tnavoff:visited {color:#FFFFFF; font-size:10px; text-decoration:none;}
a.tnavoff:active {color:#FFFFFF; font-size:10px; text-decoration:none;}
a.tnavoff:hover {color:#FFFFFF; font-size:10px; text-decoration:underline;}
a.tnavon:link {color:#FFFFFF; font-size:10px;}
a.tnavon:visited {color:#FFFFFF; font-size:10px;}
a.tnavon:active {color:#FFFFFF; font-size:10px;}
a.tnavon:hover {color:#FFFFFF; font-size:10px;}

.contact {color:#FFFFFF; font-size:10px;}
.ctacpip {color:#868465;}

.botnav {color:#F0EFE1; font-size:10px;}
a.bnavoff:link {color:#7A7866; font-size:10px; text-decoration:none;}
a.bnavoff:visited {color:#7A7866; font-size:10px; text-decoration:none;}
a.bnavoff:active {color:#7A7866; font-size:10px; text-decoration:none;}
a.bnavoff:hover {color:#7A7866; font-size:10px; text-decoration:underline;}
a.bnavon:link {color:#7A7866; font-size:10px;}
a.bnavon:visited {color:#7A7866; font-size:10px;}
a.bnavon:active {color:#7A7866; font-size:10px;}
a.bnavon:hover {color:#7A7866; font-size:10px;}

.copyright {color:#7A7866; font-size:10px;}
/* all pages */

/* home */
td.homeshadow {background-image:url("../images/home/shadow.gif");}

.homelink {position:relative; padding-top:2px; padding-bottom:2px;}

.homelink a:link {color:#706D3F;}
.homelink a:visited {color:#706D3F;}
.homelink a:active {color:#706D3F;}
.homelink a:hover {color:#706D3F;}
/* home */

/* interior */
body.scoreboard {background-color:#F4F2DD; background-image:none; font-family:Verdana; color:#000000; font-size:11px;}

.hdrtext {color:#605E44; font-size:13px; font-weight:bold;}
 

td.lftnav {background-color:#F4F2DD;}
td.lnavtop {background-color:#E8E6CF;}
td.pgbody {background-color:#FFFFFF;}
td.intshadow {background-image:url("../images/interior/shadow.gif");}

.lnavlink01on {position:relative; background-color:#FFFFFF; padding-top:5px; padding-bottom:5px; padding-left:11px;}
.lnavlink01off {position:relative; padding-top:5px; padding-bottom:5px; padding-left:11px;}

.lnavlink01on a:link {color:#706D3F; font-weight:bold;}
.lnavlink01on a:visited {color:#706D3F; font-weight:bold;}
.lnavlink01on a:active {color:#706D3F; font-weight:bold;}
.lnavlink01on a:hover {color:#706D3F; font-weight:bold;}
.lnavlink01off a:link {color:#706D3F; font-weight:bold;}
.lnavlink01off a:visited {color:#706D3F; font-weight:bold;}
.lnavlink01off a:active {color:#706D3F; font-weight:bold;}
.lnavlink01off a:hover {color:#706D3F; font-weight:bold;}

.lnavlink02on {position:relative; background-color:#FFFFFF; padding-top:4px; padding-bottom:4px; padding-left:22px;}
.lnavlink02off {position:relative; padding-top:4px; padding-bottom:4px; padding-left:22px;}

.lnavlink02on a:link {color:#706D3F;}
.lnavlink02on a:visited {color:#706D3F;}
.lnavlink02on a:active {color:#706D3F;}
.lnavlink02on a:hover {color:#706D3F;}
.lnavlink02off a:link {color:#706D3F;}
.lnavlink02off a:visited {color:#706D3F;}
.lnavlink02off a:active {color:#706D3F;}
.lnavlink02off a:hover {color:#706D3F;}

.lnavlink03on {position:relative; background-color:#FFFFFF; padding-top:5px; padding-bottom:5px; padding-left:11px;}
.lnavlink03off {position:relative; padding-top:5px; padding-bottom:5px; padding-left:11px;}

.lnavlink03on a:link {color:#706D3F;}
.lnavlink03on a:visited {color:#706D3F;}
.lnavlink03on a:active {color:#706D3F;}
.lnavlink03on a:hover {color:#706D3F;}
.lnavlink03off a:link {color:#706D3F;}
.lnavlink03off a:visited {color:#706D3F;}
.lnavlink03off a:active {color:#706D3F;}
.lnavlink03off a:hover {color:#706D3F;}

.tablheader {background-color:#9C9A85; color:#FFFFFF; font-weight:bold; padding-top:3px; padding-bottom:3px; padding-left:8px; padding-right:8px;}
.tablsheader {background-color:#F4F2DD; padding-top:8px; padding-bottom:8px; padding-left:8px; padding-right:8px;}
.tablcell {padding-top:8px; padding-bottom:8px; padding-left:8px; padding-right:8px;}
.tablbndcell {background-color:#EBEBEB; padding-top:8px; padding-bottom:8px; padding-left:8px; padding-right:8px;}
.tablhltcell {background-color:#F4F2DD; padding-top:8px; padding-bottom:8px; padding-left:8px; padding-right:8px;}

h2.tabltext {
	font-size:11px;
	margin-bottom: 0px;
}

.divhover:hover{
	background-color: #E7E3CE;
	font-weight: bold;
}
.tablshtext {color:#605E44; font-weight:bold;}
.tabltext tr:hover{background-color: #E7E3CE;}
.tabltext td:hover{background-color: #E7E3CE;}
a.tabllink:link {color:#706D3F;}
a.tabllink:visited {color:#706D3F;}
a.tabllink:active {color:#706D3F;}
a.tabllink:hover {color:#706D3F;}

.phtoheader {background-color:#CFCBA6; color:#000000; font-weight:bold; padding-top:8px; padding-bottom:8px; padding-left:8px; padding-right:8px;}
.phtocell {background-color:#E8E6CF; color:#000000; padding-top:9px; padding-bottom:9px; padding-left:15px; padding-right:15px;}
.phtooln01 {background-color:#CCCCCC; padding:1px;}
.phtooln02 {background-color:#FFFFFF; padding:3px;}

ul.phtolist {margin:10px; padding-left:30px; list-style-type:disc;}
/* interior */

/* athletics stats */
.athstats {position:relative; padding-top:5px; padding-bottom:5px; padding-left:5px;}
.athstats a:link {color:#706D3F;}
.athstats a:visited {color:#706D3F;}
.athstats a:active {color:#706D3F;}
.athstats a:hover {color:#706D3F;}

/* faculty images */
.imgfac {padding:10 10 10 10}
