/build/
/dist/
/epamms/JavaProject/build/
/epamms/JavaProject/dist/
/epamms/JavaProject/nbproject/private/
/web/tinymce/
/epamms/QE.BAT
/epamms/QM.BAT
/web/js/mwheelIntent.js
/web/test?.html
*.dks*
*.hld
ad.*
good.json

epamms/JavaProject/maven.bat
epamms/gitinit.bat
epamms/gitpull.bat
epamms/gitpush.bat
epamms/x.bat
src/java/com/ajax/GraphicalLabelDesignerServlet.java.hold
src/java/com/ajax/GraphicalLabelDesignerServlet.java.hold2
src/java/com/ajax/GraphicalLabelDesignerServlet.java.hold3
src/java/com/ajax/GraphicalLabelDesignerServlet.java.hold4
web/css/bootstrap-colorselector.css
web/css/bootstrap.css
web/css/bootstrap.min.css
web/css/jquery.colorPicker.css.hld
web/fonts/
web/js/bootstrap-colorselector.js.hld
web/js/bootstrap.js
web/js/bootstrap.js.hld
web/js/bootstrap.min.js
web/js/he.js
web/js/jquery.colorPicker.js.hld
web/js/jquery.colorPicker.js.hld1
web/wSystemDragDropSort.jsp.0
web/wSystemDragDropSort.jsp.1
web/wSystemDragDropSort.jsp.2