
.test
{
	height: 225px;
	background-color: transparent;
	background-image: url(../images/bg-subcat-hdr.gif);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top;
	margin-bottom: 8px;
}