
/***********************************************/
/* HTML TAG STYLES                             */

/***************************/
tbody.onlineapprevtable {
   border: 0px 0px 0px 0px;
   //border: 1px solid #ccc;
   background-color: #f8f8f8;
}

tbody.onlineapprevtable tr{
   border: 0px 0px 0px 0px;
   background-color: #f8f8f8;
}

tbody.onlineapprevtable td{
   border: 0px 0px 0px 0px;
   background-color: #f8f8f8;
}


table.onlineapprevtable {
   font-size: 14px;
   font: arial, helevetica, verdana, sans-serif;
   border: 0px 0px 0px 0px;
   //border: 1px solid #ccc;
   background-color: #f8f8f8;
}

table.onlineapprevtable td{
   border: 0px 0px 0px 0px;
   background-color: #f8f8f8;
}


table.onlineapprevtable thead th{
   background-color:#E8E8E8;
   color:#000080;
   cursor: pointer;
   background-color: #f8f8f8;
}

table.onlineapprevtable tr.odd{
background-color: #f8f8f8;
   border: 0px 0px 0px 0px;
   background-color: #fff;
}

table.onlineapprevtable tr{
   border: 0px 0px 0px 0px;
   background-color: #fff;
}

table.onlineapprevtable tr:hover{
}

#shadow-container {
	position: relative;
	left: 3px;
	top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	}
 
#shadow-container .shadow2,
#shadow-container .shadow3,
#shadow-container .container {
	position: relative;
	left: -1px;
	top: -1px;
	}
 
	#shadow-container .shadow1 {
		background: #F1F0F1;
	}
 
	#shadow-container .shadow2 {
		background: #DBDADB;
	}
 
	#shadow-container .shadow3 	{
		background: #B8B6B8;
	}
 
	#shadow-container .container {
		background: #ffffff;
		border: 1px solid #848284;
		padding: 5px;
		background-color:#E8E6CF;
		background-image:url(../images/news_gradient.jpg); 
		background-repeat:repeat-x;
	}
	
.shadow-container h3 {
		padding:5px 10px;font:bold 1.1em tahoma;margin-left:2px;
		}

/**** For  picture border ***/

.picture { 	

		background-color: #F9F9F9;
		border: 1px solid #CCCCCC; padding: 5px;
		font: 11px/1.4em Arial, sans-serif; 
		}

.picture img {

		border: 1px solid #CCCCCC;
		vertical-align:middle;
		margin-bottom: 13px;
		text-align: left;
		}

/** Added to match ENC news**/
.pastnews {
	display:inline;
	float:left;
	width:220px;
	height:55px;
	margin-left:10px;
	margin-top:10px;
	}

.hdrtext {
      color:#605E44; 
      font-size:13px; 
      font-weight:bold;
	}

.homepagetitle{
	border-top: 1px solid #E8E3D4;
	overflow: hidden;
	width: 164px;
	height: 22px;
	text-align: left;
	line-height: 22px;
	cursor: pointer;
	font-family: verdana, arial;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 10px;
   }
/*Aadit addition ends**/

.rptstyle{

   font-weight:bold;
   font-family:Arial;
   font-size:8pt;
   text-align:center;
	}




button{
	display: block;
	border: 1px solid;
	border-color: #aaa #000 #000 #aaa;
	color: black;
	width: 8em;
	text-decoration: none;
	height:25px;
	background-image: url(../images/bg-nav.jpg);
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;

	
	}


button:hover{
	border-style: inset;
	padding: 2px 3px 0 5px; /*shift text 1px to the right and down*/
	cursor: pointer;	
	}


table button{
  	 font-family:Verdana, Arial, Helvetica, sans-serif;
  	 font-size: 11px;
  	 height:25px
	}


a{
   	color: #006699;
   	text-decoration: none;
	}

a:link{
  	 color: #006699;
  	 text-decoration: none;
	}

a:visited{
  	 color: #006699;
  	 text-decoration: none;
	}

a:hover{
  	 color: #006699;
  	 text-decoration: underline;
	}

h1{
  	 font-family:Verdana, Arial, Helvetica, sans-serif;
  	 font-size: 120%;
   	color: #334d55;
  	 margin: 0px;
  	 padding: 0px;
	}

h2{
  	 font-size: 12px;
  	 font-weight: bold;
  	 color: #000000;
	}	

h3{
  	 font-family:Verdana, Arial, Helvetica, sans-serif;
  	 font-size: 100%;
  	 color: #334d55;
  	 margin: 0px;
  	 padding: 0px;
	}

h4{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 100%;
   font-weight: normal;
   color: #333333;
   margin: 0px;
   padding: 0px;
	}

h5{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 100%;
   color: #334d55;
   margin: 0px;
   padding: 0px;
	}

ul{
   list-style-type: square;
	}

ul ul{
   list-style-type: disc;
	}

ul ul ul{
   list-style-type: none;
	}

label{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   /*font-size: 100%;*/
   font-size: 12px;
   font-weight: bold;
   color: #334d55;
	}

/************ Table Scrolling style *********/
.tableScroll {
	overflow: auto;
	margin: 0 auto;
	}

.tableScroll table {
	width: 99%;		/*100% of container produces horiz. scroll in Mozilla*/
	margin: 0;
	border: none;
	background-color: #f7f7f7;
    border-collapse: separate; /* if I don't do this, on Firefox I get grid lines past the end of table */
    border-spacing: 0px;
	}

.tableScroll table tr:hover{  /* can't get this to work!!! */
  background-color: #E8E3D4;
	}
	
.tableScroll table>tbody	{  /* child selector syntax which IE6 and older do not support*/
	overflow: auto; 
	overflow-x: hidden;
	}
	
.tableScroll thead tr	{
	position:relative; 
	top: expression(offsetParent.scrollTop); /*IE5+ only*/
	}
	
.tableScroll thead td, thead th {
	color: steelblue;
	font-weight: bold;
	border-top: solid 1px #d8d8d8;
	}	
	
.tableScroll td	{
	color: #000;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	font-size: 11px;
	}

.tableScroll tfoot td	{
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: papayawhip;
	color: steelblue;
	border-top: solid 2px slategray;
	}

.tableScroll td:last-child {
	padding-right: 20px; /*prevent Mozilla scrollbar from hiding cell content*/
	}

/************ Relative Positioning Table styles ************/

.relposTable table{
	}

/************ Table Sort styles ************/
table{
   width: 80%;
   margin-top: 0em;
   margin-right: 0em;
   margin-bottom: 1em;
   margin-left: 0em;   
   border-collapse: collapse;
   background-color: #f8f8f8;
	}

table tr:hover{ /* can't get this to work!!! */
  background-color: #E8E3D4;
	}


tbody tr.odd{
   border: 1px solid #ccc;
   background-color: #ddf;
	}

tbody tr{
   border: 1px solid #ccc;
/*   background-color: #fff;*/
   background-color: #f8f8f8;
   }

tbody tr:hover{
  background-color: #E8E3D4;
	}



td.numeric,
th.numeric{
   text-align: right;
	}

thead th.gridheading{
   color: #000;
   background-color: #E8E8E8;
	}


thead th,
tfoot th{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0.5em;
	text-align: left;
	border: 1px solid #334d55;
	background-image:url(../images/nav.png);
	color:#000080;
	}

tfoot td{
   border-top: 1px solid #ccc;
	}

tbody td{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #334d55;
   border: 1px solid #ccc;
   padding: 0.25em;
   background-color: #f8f8f8;
	}

table.sortable thead th{
   background-color:#E8E8E8;
   color:#000080;
   cursor: pointer;
	}

table.sortable tr.odd{
   background-color: #ddf;
	}

table.sortable tr{
   background-color: #fff;
	}

table.sortable tr:hover{
  background-color: #E8E3D4;
	}

table.tableStyle1 tr.odd{
   border: 1px solid #ccc;
   background-color: #ffb;
	}

table.tableStyle1 tr{
   border: 1px solid #ccc;
   background-color: #ffc;
	}

fieldset table{
   margin-top: 1em;
   margin-right: 0em;
   margin-bottom: 1em;
   margin-left: 0em;   
	}

fieldset table td{
   background-color: #ffc;
   }

select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
	-x-system-font: none;
	}

input{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   height: 14px;
	}

table input{
  	 /*font-family:Verdana, Arial, Helvetica, sans-serif;
  	 font-size: 11px;*/
  	 height: 14px;
   //	margin: 5px 0;
	padding: 1px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
	background-color: #f8f8f8;
  	border-color:black;/* #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	*/
	font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;

	}
table input:focus, textarea:focus{
/*color: #7BA857;*/
/*color: #CC0000;*/
/*background: #EFFAE6;*/
background: #FDBF57;

}

table select{
    	height: 18px;
   	color: black;
	border-width: 1px;
	border-style: solid;
  	border-color:black;/* #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	*/
	font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
	}
table select:focus{
	height: 18px;
	color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #EFFAE6;
  	border-color:black;/* #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	*/
	font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
	}

li{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
	}

textarea{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
	}

img {
   border: none;
	}


/*********** PAGE PARTS  **************/

.pagetitle{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: bold;
   background-color: #CCCC99;
   position: absolute;
   top: 179px;
   left: 141px;
   width: 650px;
   line-height: inherit;
   color: #000000;
   text-decoration: none;
   text-align: left;
   white-space: normal;
   display: table;
   vertical-align: middle;
   padding: 3px;
	}

.picture_caption{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: italic;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   color: #231e0c;
   text-decoration: none;
	}

.alignright{
   text-align: right;
	}


.appbutton{
	margin-left: 575px;
	background-color: #f8f8f8;


	}

.attendanceAbsent{
   font-size: 11px;
   font-weight: bold;
   color:red;
	}

.attendanceTardy{
   font-size: 11px;
   font-weight: bold;
   color:red;
	}

.attendanceExcused{
   font-size: 11px;
   font-weight: bold;
   color:red;
	}

.broadcastmessages{
   font-size: 12px;
   font-weight: normal;
	}

.broadcastmessages table{
   font-weight: normal;
	}


.broadcastmessages tbody tr.odd{
   border: 0px;
   background-color: #fff;
   height: 40px;
	}

.broadcastmessages tbody tr{
   border: 0px;
   background-color: #fff;
   height: 40px;
	}

.broadcastmessages thead th,tfoot th {
	color:#7B2E00;
	}


.broadcastmessages tbody td {
   border: 0px;
	}

.broadcastmessages tbody tr:hover {
  background-color: #E8E3D4;
	}

.budgetlegend{
   border: solid darkgray;
   border-width: 1px 1px 1px 1px;
   border-style: inset;
	}

.budgetheading{
   font-size:  10px;
   font-weight: bold;
   text-align: right;
   text-decoration: underline;
	}

.budgetheading3yr{
   font-size:  10px;
   font-weight: bold;
   text-align: center;
   text-decoration: underline;
	}

.controlhidden{
   visibility: hidden;
	}

.colorRed{
   color: red;
	}

.contentdescription{
   font-size: 12px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: black;
	}

.dropwidth{
   width: 100px;
	}

.disabledfield{
   /* This is for when we disable a field
      on a page.  Since the background currently is
      gray, the default disabled color doesn't show
      up. */
   background:#ECE9D8;
	   font-weight: bold;
}

.divtable{
   valign:top;
   margin-top:0px; 
   margin-bottom:0px; 
   width:100%;
	}

.divcontent{
   margin-left: 12px;
	}

.divborder{
	margin-left: 96px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F8F8F8;
	width: 650px;
	background-image:url(../images/bgr-box-trans.png);
	background-repeat: repeat-x;

background-attachment: scroll;

background-position: left top;
}



.divbordercenter{
   border: solid darkgray;
   border-width: 1px 1px 1px 1px;
   border-style: inset;
	}


.divtopborder{
   border-top: solid black;
   border-top-width: 1px;
	}


.divmessage{
   text-align: center;
   font-size: 11px;
	}

.saveappbutton{
	margin-left: 625px;
	background-color: #f8f8f8;


	}

.review{


	width: 595px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	background-color: #f8f8f8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 65px;
	margin-left:96px;
	}
	


.formStylebutton button{
	display: block;
	border: 1px solid;
	border-color: #aaa #000 #000 #aaa;
	padding: 0px 5px 0px 5px;
	width: 8em;
	background-color: #fc0;
	}

.grouptable{
   margin: 0px;
   padding: 0px;
	}

.grouptable table{
   margin-top: -1px;
   margin-right: 0em;
   margin-bottom: -1px;
   margin-left: -3px;   
   border-collapse: collapse;
   padding: 0px;
   
	}
.grouptable tbody{
   margin-top: -1px;
   margin-bottom: -1px;
   
	}

.grouptable table tr:hover{ /* can't get this to work!!! */
  background-color: white;
	}


.grouptable tbody tr{
   border: 0px;
   background-color: #fff;
   
	}

.grouptable tbody tr:hover{
  background-color: white;
	}

.grouptable tbody td{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #334d55;
   border: 0px;
   padding: 0.25em;
   background-color: #f8f8f8;
	}


.securityqtnlstbox{
   overflow:scroll;
	}

.hidden{
   display: none;
	}

.headertop{
   /* font-size:  22px; */
   font-size:  14px;
   1:18 PM 9/17/2009
   color:      #52839E;
   
	}

.headertopsmall{
   font-size:  12px;
   font-weight: bold;
   color:      black;
   text-align: left;
	}

.headertopcenter{
	color:#52839E;
	font-size:  13px;
	font-weight: bold;
	text-align: center;
	width: 100%;background-image:url(../images/bgfadegreen.gif);
margin-bottom: 1em;

border-bottom-width: 1px;

border-bottom-style: solid;

border-bottom-color: #ced2d2;


	}

.headerstartup{
	font-size:  13px;
	font-weight: bold;
	text-align: center;
	width:100%;
	background: transparent url(../images/bg_cat_navi.png) repeat-x top center;
	clear: both;
	margin-top: -14px;
	margin-left: 0px;
	}

.lastnamewidth{
   width: 200px;
	}

.noborder{
   border: 0;
	}

.reviewnodata{
   font-size: 11px;
   font: arial, helevetica, verdana, sans-serif;
   background-color: #bbf;
   font-weight: bold;

}

.rightjustify{
   text-align: right;
	}

.securityquestionborder{
	border: solid #529214;
	border-width: 1px 1px 1px 1px;
	font-size: 11px;
	font-weight: normal;
	}

.textpagedivider{
   font-size: 11px;
   font: arial, helevetica, verdana, sans-serif;
   padding-left: 3px;
   background-color: #bbf;
   border: solid #000000; 
	}

.textlabel{
   font-size: 11px;
   font: arial, helevetica, verdana, sans-serif;
	}

.text10{
   font-size: 11px;
	}

.text10Red {
   font-size: 11px;
   color: #ff0000;
	}

.text10bold{
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #000000;
   background-color: #FFFFFF;
	}

.text12bold{
   font-size: 11px;
   font-weight: bold;
   font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.text12{
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.text14{
   font-size: 11px;
   font-family:Verdana, Arial, Helvetica, sans-serif;
	}

.text14bold{
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #000000;
	}

.text12border{
   font-size: 11px;
   border: 2px;
   background-color: #FFFFCC;
	}

.textborder{
   font-size: 11px;
   border: solid #8cacbb;
   border-width: 1px 1px 1px 1px;
	}

.text28{
   font-size: 22px;
   border: 2px;
   color: black;
	}

.text36{
   font-size: 36px;
	}

tablemargin{
   width: 80%;
   margin-top: 1em;
   margin-right;
	}

underlinetext a{
   text-decoration: underline;
	}

.groupingtitle{
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   background-color:#E8E8E8;
	}

.welcomemessage{
   font-size: 12px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
	}

/************* SEARCH STYLES ***************/

#search{
   padding: 5px 0px 5px 10px;
   border-bottom: 1px solid #cccccc;
   font-size: 90%;
	}

#search form{
   margin: 0px;
   padding: 0px;
	}

#search label{
   display: block;
   margin: 0px;
   padding: 0px;
	}

/************** #PRINT styles **************/

.print_section{
	border:1px solid gray;
	background:#e1e1e1;
	margin:0 0 15px 0;
	padding:10px;
	float:left;
	width:95%;
	}

.print_section p.printbutton{
	float:left;
	}

.print_section p.printbutton a{
	text-decoration:none;
	background:white;
	display:block;
	float:left;
	margin:3px;
	padding:10px;
	border:1px solid red;
	}


/***********************************************/
/* This css has 3 possible columns for content.  Left is the navigation, middle and right. 2 real content areas. */
/* Author: MjB Web Design modified by jsb Web Design :-> */
/***********************************************/

span.cw{
   z-index:1
	}

div.cw{
   z-index:1
	}

table.cw{
   z-index:1
	}

tr.cw{
   z-index:1
	}

td.cw{
   z-index:1
	}

/***********************************************/

.scw           {
	padding:1px;
	vertical-align:middle;
	}
iframe.scw{
	position:absolute;z-index:1;
	top:0px;left:0px;visibility:hidden;
    width:1px;height:1px;
	}
	
table.scw{
	visibility:hidden;
	position:absolute;
	cursor:default;
	width:200px;
	top:0px;
	left:0px;
	z-index:2;
	text-align:center;
	}
		
/* IMPORTANT:  The SCW calendar script requires all the classes defined here. */
/*Redundant - Aadit? Not sure what this is doing 3/20/2009 
table.scw  {padding:       1px;
                vertical-align:middle;
                border:        ridge 2px;
                font-size:     7pt;
                font-family: Arial,Helvetica,Sans-Serif;
                font-weight:   bold;}*/
td.scw,
td.scw,
td.scwDrag,
td.scwHead{
	padding:0px 0px;
	border: 0px;
	text-align: center;
	}
	
td.scwDrag {
	font-size: 7pt;
	}
	
select.scwHead{
	margin:3px 1px; 
	}

input.scwHead{
	height:22px;
	width:30px;
	vertical-align:middle;
	text-align: center;
	margin:2px 1px;
	font-weight:bold;
	font-size:7pt;
	font-family:fixedSys;
	}
	
td.scwWeekNumberHead,
td.scwWeek{
	padding:0px;
	border:0px;
	text-align:center;
	font-weight:bold;
	background-color: #538ED5;
	}

td.scwFoot,
td.scwFootHover,
td.scwFoot:hover,
td.scwFootDisabled{
	padding:0px;
	border: 0px;
	text-align:center;
	font-weight:normal;
	}
	
table.scwCells{
	text-align:right;
	font-size:7pt;
	width:100%;
	}

td.scwCells,
td.scwCellsHover,
td.scwCells:hover,
td.scwCellsDisabled,
td.scwCellsExMonth,
td.scwCellsExMonthHover,
td.scwCellsExMonth:hover,
td.scwCellsExMonthDisabled,
td.scwCellsWeekend,
td.scwCellsWeekendHover,
td.scwCellsWeekend:hover,
td.scwCellsWeekendDisabled,
td.scwInputDate,
td.scwInputDateHover,
td.scwInputDate:hover,
td.scwInputDateDisabled,
td.scwWeekNo,
td.scwWeeks{
	padding:3px;
	width:16px;
	border:0px;
	height:16px;
	font-weight:bold;
	vertical-align:middle;
	}
/* Blend the colours into your page here...    */
/* Calendar background */

table.scw{
	background-color:  #ffffff;
	}
	
/* Drag Handle */

td.scwDrag{
	background-color:#9999CC;
	color:#CCCCFF;
	}
/* Week number heading */
td.scwWeekNumberHead{
	color:#FFFFFF;
	}
/* Week day headings */
td.scwWeek{
	color:#CCCCCC;
	}
/* Week numbers */
td.scwWeekNo{
	background-color:#776677;
	color:#CCCCCC;
	}
/* Enabled Days */
/* Week Day */
td.scwCells{
	color:#000000;
	}
/* Day matching the input date */
td.scwInputDate{
	background-color:#CC9999;
	color:#FF0000;
	}
/* Weekend Day */
td.scwCellsWeekend{
	color:#CC0000;
	}
/* Day outside the current month */
td.scwCellsExMonth{
	color:#666666;
	}
/* Today selector */
td.scwFoot {
	background-color:#538ED5;
	color:#FFFFFF;
	}
/* MouseOver/Hover formatting
       If you want to "turn off" any of the formatting
       then just set to the same as the standard format
       above.

       Note: The reason that the following are
       implemented using both a class and a :hover
       pseudoclass is because Opera handles the rendering
       involved in the class swap very poorly and IE6
       (and below) only implements pseudoclasses on the
       anchor tag.
*/
/* Active cells */
td.scwCells:hover,
td.scwCellsHover{
	background-color:#FFFF00;
	cursor:pointer;
	cursor:hand;
	color:#000000;
	background-image: url(../images/i-heart-ny-active.gif);
	background-position: center;
	background-repeat: no-repeat;
	}
/* Day matching the input date */
td.scwInputDate:hover,
td.scwInputDateHover{
	background-color:  #FFFF00;
	cursor:pointer;
	cursor:hand;
	color:#000000;
	}
/* Weekend cells */
td.scwCellsWeekend:hover,
td.scwCellsWeekendHover{
	background-color:#FFFF00;
	cursor:pointer;
    cursor:hand;
	color:#000000;
	background-image: url(../images/i-heart-ny-active.gif);
	background-position: center;
	background-repeat: no-repeat;
	}
/* Day outside the current month */
td.scwCellsExMonth:hover,
td.scwCellsExMonthHover{
	background-color:#FFFF00;
	cursor:pointer;
    cursor:hand;
    color:#000000;	
	background-image: url(../images/i-heart-ny-active.gif);
	background-position: center;
	background-repeat: no-repeat;
	}
/* Today selector */
td.scwFoot:hover,
td.scwFootHover{
	color:#FFFF00;
    cursor:pointer;
    cursor:hand;
    font-weight:bold;
	}
/* Disabled cells */
/* Week Day */
/* Day matching the input date */
td.scwInputDateDisabled{
	background-color:  #999999;
	color:#000000;
	}
	
td.scwCellsDisabled{
	background-color:#999999;
	color:#000000;
	}
/* Weekend Day */
td.scwCellsWeekendDisabled{
	background-color:#999999;
	color:#CC6666;
	}
/* Day outside the current month */
td.scwCellsExMonthDisabled{
	background-color:#999999;
	color:#666666;
	}
	
td.scwFootDisabled{
	background-color:#6666CC;
	color:#FFFFFF;
	}

