html,body,li,ul,img,form,h1,h2,h3,h4,h5,h6,hr
{
   margin:0px;
   padding:0px;
}

.panel
{
   color:#1F4BAA;
   font-size:10pt;
   margin-bottom:0px;
   padding: 0px 0px 0px 0px;
}

#panel1
{
   margin-top:3px;
   margin-bottom:0px;
   line-height: 15px;
}

.groupwithborder
{
   border: #1F4BAA 2px solid;
   text-align:center;
   padding-top: 0px;
   padding-bottom: 10px;
}

.tableingredients
{
   margin-left: auto;
   margin-right: auto;
   background-color:#FFF;
   color:#1F4BAA;
   font-size:9pt;
}

.tableingredientscol1 div
{
   height:15px;width:500px;
   overflow:hidden;
}

#panel1 .tablewarnings
{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   background-color:#FFF;
   color:#1F4BAA;
   font-size:9pt;
}

#hazardskoroc
{
   margin-top:15px;
   margin-bottom:0px;
   text-align: center;
   font-size:12pt;
   font-weight: bold;
}

#hazardsdanger
{
   margin-top:5px;
   margin-bottom:0px;
   text-align: center;
   font-size:18pt;
   font-weight: bold;
}

#hazardsseepanel
{
   text-align: center;
   margin-top:0px;
   margin-bottom:10px;
}

#netcontents
{
   text-align: center;
   margin-top:0px;
   margin-bottom:0px;
}

#epareg
{
   text-align: center;
   margin-top:0px;
   margin-bottom:0px;
}

#panel2
{
   margin-top:5px;
   margin-bottom:0px;
   line-height: 15px;
}

#panel2 .dilutions
{
   text-align: center;
}

.NumberColumn1
{
   vertical-align:top;
   width:20px;
}

.ClaimsTitleX
{
   border: red 2px solid;
   padding-top: 20px;
   padding-bottom: 30px;
   padding-left: 10px;
   padding-right: 10px;
}

.colstyle1
{
   vertical-align:top;
   width:20px;
}

.colstyle2
{
   font-size:18pt;
   font-weight: bold;
   color: red;
}

.colstyle3
{
   font-weight: bold;
}

.text28boldred
{
   font-size:28pt;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #ff0000;
   background-color: #ffffff;
}

.text14boldred
{
   font-size:14pt;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #ff0000;
   background-color: #ffffff;
}

.text14boldredcentered
{
   font-size:14pt;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #ff0000;
   background-color: #ffffff;
   text-align: center;
}
